##### 680원 거스름돈 퀴즈

In [23]:
money = int(input("거스름돈을 입력해주세요 > "))
coin_500 = 0
coin_100 = 0
coin_50 = 0
coin_10 = 0
coin_1 = 0

while money >= 500:
	money -= 500
	coin_500 += 1

while money >= 100:
	money -= 100
	coin_100 += 1

while money >= 50:
	money -= 50
	coin_50 += 1

while money >= 10:
	money -= 10
	coin_10 += 1

coin_1 = money

print("500원 : %d\n100원 : %d\n50원 : %d\n10원 : %d\n1원 : %d\n" % (coin_500, coin_100, coin_50, coin_10, coin_1))

거스름돈을 입력해주세요 > 2111
500원 : 4
100원 : 1
50원 : 0
10원 : 1
1원 : 1

In [24]:
money = int(input("거스름돈을 입력해주세요 > "))

# key 0, 1, 2, 3, 4
# mean 500 100 50 10 1

emun_coins = { 0 : 500, 1 : 100, 2 : 50, 3 : 10, 4 : 1 }
check_coin = 0

count_coins = { 0 : 0, 1 : 0, 2 : 0, 3 : 0, 4 : 0 }

while True:
	if money >= emun_coins[check_coin]:
		count_coins[check_coin] = money // emun_coins[check_coin]
		money -= (count_coins[check_coin] * emun_coins[check_coin]) 
	
	check_coin += 1

	if money <= 0:
		break;

print("500원 : %d\n100원 : %d\n50원 : %d\n10원 : %d\n1원 : %d\n" % (
	count_coins[0], count_coins[1], count_coins[2], count_coins[3], count_coins[4]))

거스름돈을 입력해주세요 > 1111
500원 : 2
100원 : 1
50원 : 0
10원 : 1
1원 : 1

기본구조 설명

In [25]:
a = [(1,2), (3,4), (5,6)]

In [26]:
for (f, l) in a:
    print(f + l)

3
7
11

In [27]:
l1 = ['a', 'b', 'c']
l2 = [1, 2, 3]
for i, j in zip(l1, l2):
    print("%s %d" % (i, j))

a 1
b 2
c 3

##### Quiz 2단 출력하기

In [28]:
times = [1,2,3,4,5,6,7,8,9]
number = 2

for time in times:
    print("%d X %d = %d" % (number, time, (time * number)))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

continue 문

In [29]:
times = [1,2,3,4,5,6,7,8,9]
number = 2

for time in times:
    if time % 3 != 0:
        print("%d X %d = %d" % (number, time, (time * number)))

2 X 1 = 2
2 X 2 = 4
2 X 4 = 8
2 X 5 = 10
2 X 7 = 14
2 X 8 = 16

range() 함수

In [30]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

##### Quiz
0 이 입력될 때까지 정수를 계속 입력받아 3의 배수와 5의 배수를 제외한 수들의 개수를 출력하는 프로그램을 작성하시오.

In [33]:
count = 0
u_input = []

while True:
	temp = int(input("0이 입력되면 입력을 종료합니다. > "))
	
	if temp == 0:
		break

	u_input.append(temp)

for i in range(len(u_input)):
    if i % 3 == 0:
        continue
    if i % 5 == 0:
        continue
    count += 1

print("3의 배수와 5의 배수가 아닌 수는 %d 개 입니다." % count)

0이 입력되면 입력을 종료합니다. > 0
3의 배수와 5의 배수가 아닌 수는 0 개 입니다.

리스트 안의 for문

In [34]:
l1

['a', 'b', 'c']

In [35]:
l2

[1, 2, 3]

In [36]:
result = ["%s %d" % (l, i) for l, i in zip(l1, l2) ]
result

['a 1', 'b 2', 'c 3']

##### Quiz
주사위 놀이를 하다가 주사위를 10번 던져서 각 숫자가 몇 번씩 나왔는지 알아보려고 한다. 한번 던질 때마다 나온 주사위의 숫자를 입력받아서 각 숫자가 몇 번씩 나왔는지 횟수와 출현 확률을 출력하는 프로그램을 작성하시오.

In [37]:
import random

In [38]:
picks = 10000
l = [random.randint(1, 6)  for i in range(picks)]

In [39]:
times = {"1": 0, "2": 0, "3": 0, "4": 0, "5": 0, "6": 0}

for i in l:
    if i == 1:
        times["1"] += 1
    elif i == 2:
        times["2"] += 1
    elif i == 3:
        times["3"] += 1
    elif i == 4:
        times["4"] += 1
    elif i == 5:
        times["5"] += 1
    else:
        times["6"] += 1

prob = [ (i * 100) / picks for i in times.values() ]
print(prob)

[16.52, 17.16, 17.08, 16.67, 16.43, 16.14]

##### Quiz
‘@’문자를 10개 출력하는 함수를 작성 한 후 함수를 세 번 호출하여 아래와 같이 출력하는 프로그램을 작성하시오.

In [42]:
def print10Words(msg):
    print("%s\n@@@@@@@@@@" % msg)

In [43]:
"""
first
@@@@@@@@@@
second
@@@@@@@@@@
third
@@@@@@@@@@
"""

'\nfirst\n@@@@@@@@@@\nsecond\n@@@@@@@@@@\nthird\n@@@@@@@@@@\n'

In [44]:
print10Words("first")
print10Words("second")
print10Words("third")

first
@@@@@@@@@@
second
@@@@@@@@@@
third
@@@@@@@@@@

##### Quiz
1부터 전달받은 수까지의 합을 출력하는 함수를 작성하고 1000 이하의 자연수를 입력받아 작성한 함수로 전달하여 출력하는 프로그램을 작성하시오. 1000을 초과하여 입력하면 -1을 출력하세요

In [54]:
def sumToNumber(num):
    result = 0
    
    if num > 1000:
        return -1
    else:
        for i in range (1, num+1):
            result += i
        return result

In [55]:
sumToNumber(2)

3

##### Quiz
원주율을 3.141592로 디폴트 인수로 정의하고 원의 넓이를 구하는 함수를 작성하여 반지름을 입력받아 원의 넓이를 출력하는 프로그램을 작성하시오.

In [ ]:
def areaCircle(r, rate=3.141592):
    return rate * r * r

In [ ]:
print(areaCircle(10))

##### Quiz
5명의 학생 이름과 점수를 입력받아 이름과 점수, 등수를 입력받은 순서대로 출력하는 프로그램을 작성하시오.
단, 출력시 "이름", "점수", "등수"는 한 칸의 공백으로 구분을 하며, Name은 4칸(%4s), Score는 5칸(%5d), Rank는 각 4칸(%4d)으로 출력한다.

In [6]:
"""
Hong 90
Lim 85
Park 88
Gong 75
Lee 100
"""

'\nHong 90\nLim 85\nPark 88\nGong 75\nLee 100\n'

In [7]:
with open('test.txt', 'w') as f:
    while True:
        msg = input()
        if msg == "-1":
            break;
        else:
            f.write(msg+"\n")

Hong 90
Lim 85
Park 88
Gong 75
Lee 100
-1

In [8]:
table = []

with open('test.txt', 'r') as f:
    while True:
        line = f.readline()
        if not line: break
        
        table.append((line.split()[0], line.split()[1]))

rank = []
cur_rank = 1
max_idx = -1
max_value = 0

print(table)
while True:
    if len(table) != 0:
        for i, t in enumerate(table):
            name = t[0]
            score = int(t[1])
            
            if i == 0 or max_value < score:
                max_idx = i
                max_value = score
                continue
            else:
                pass
            
        name = table[max_idx][0]
        score = int(table[max_idx][1])
        rank.append((name, score, cur_rank))
        cur_rank += 1
        del table[max_idx]
        
        max_idx = -1
        max_value = 0
    else:
        break

[('Hong', '90'), ('Lim', '85'), ('Park', '88'), ('Gong', '75'), ('Lee', '100')]

In [9]:
rank

[('Lee', 100, 1),
 ('Hong', 90, 2),
 ('Park', 88, 3),
 ('Lim', 85, 4),
 ('Gong', 75, 5)]

In [11]:
with open('test2.txt', 'w') as f:
    f.write("%4s %5s %4s\n" % ("Name", "Score", "Rank"))
    for i in rank:
        msg = "%4s %5s %4s\n" % (i[0], str(i[1]), str(i[2]))
        f.write(msg)